{% extends 'base.html' %}

{% block title %}
Cast Vote
{% endblock %}

{% block content %}
    <!-- Cast Vote Section -->
    <section class="cast-vote">
        <div class="container">
            <h1>Cast Your Vote</h1>
            <form action="{{ url_for('views.cast_vote') }}" method="POST">
                <div class="form-group">
                    <label for="candidate">Select Candidate:</label>
                    <select id="candidate" name="candidate" required>
                        <option value="">--Choose a Candidate--</option>
                        {% for candidate in candidates %}
                        <option value="{{ candidate.id }}">{{ candidate.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="public_key">Public Key:</label>
                    <input type="text" id="public_key" name="public_key" placeholder="-----BEGIN PUBLIC KEY----- ... -----END PUBLIC KEY-----" required>
                </div>

                <div class="form-group">
                    <label for="private_key">Private Key:</label>
                    <input type="text" id="private_key" name="private_key" placeholder="-----BEGIN RSA KEY----- ... -----END RSA KEY-----" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="cta-button">Submit Vote</button>
                </div>
            </form>
        </div>
    </section>
    <section class="cast-vote">
        <div class="container">
            <form action="{{ url_for('auth.regenerate_keys') }}" method="GET">
                <div class="form-group">
                    <h3>Don't remember your key? Click Button Below</h3>
                    <button type="submit" class="cta-button">Regenerate Keys</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}